body {
    background-color: #e6eff6;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Karla";
    position: relative;
    padding: 35px;
    max-width: calc(100% - 70px);
}

main {
    height: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    
}

article.card {
    width: 650px;
    height: 570px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px -12px black;
}
section.card_join {
    background-color: white;
    padding: 35px;
}
.card_join h1{
   color: hsl(179, 62%, 43%);
    font-size: 25px;
}
.card_join h2{
    color: hsl(71, 73%, 54%);
    font-weight: 400;
}
.card_join p{
    color: hsl(218, 22%, 67%);
    line-height: 25px;

}
.card_grid {
    display: flex;
    width: 100%;
    height: 100%;
    color: white
}

section.grid_us {
    background-color: #4abebd;
    flex-grow: 1;
    padding: 35px;
}
ul.us_list {
    color:hsl(204, 43%, 93%);
    list-style-type: none;
    line-height: 25px;
    padding-left: 0px
}
section.grid_subscription {
    background-color: #2bb3b1;
    flex-grow: 1;
    padding: 35px;
    display: flex;
    flex-direction: column;
}
button.subscription_button {
    background-color: #bfdf32;
    border: none;
    width: 100%;
    padding: 20px 0px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 30px;
    box-shadow: 0px 4px 15px -6px black;
}

.price_text{
    color: hsl(204, 43%, 93%);
    padding-left: 15px;
    font-weight: 400;
}
.price_value {
    font-weight: 700;
    font-size: 25px;
}

.subscription_price {
    display: flex;
    align-items: center;
}
.gird_subscription h1{
        font-weight: 700;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 650px) {
    article.card {
       flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .card_grid {
        flex-direction: column;
    }
}
